In [2]:
df <- read.csv("50_Startups.csv")

In [3]:
head(df)

  R.D.Spend Administration Marketing.Spend State      Profit
1 165349.2  136897.80      471784.1        New York   192261.8
2 162597.7  151377.59      443898.5        California 191792.1
3 153441.5  101145.55      407934.5        Florida    191050.4
4 144372.4  118671.85      383199.6        New York   182902.0
5 142107.3   91391.77      366168.4        Florida    166187.9
6 131876.9   99814.71      362861.4        New York   156991.1

In [8]:
y <- df[5]
x <- df[-5]

In [12]:
lm(df$Profit ~ df$R.D.Spend + df$Administration + df$Marketing.Spend + df$State, data = df) -> model

In [13]:
summary(model)

Call:
lm(formula = df$Profit ~ df$R.D.Spend + df$Administration + df$Marketing.Spend +
    df$State, data = df)

Residuals:
   Min     1Q Median     3Q    Max
-33504  -4736     90   6672  17338

Coefficients:
                     Estimate Std. Error t value Pr(>|t|)
(Intercept)         5.013e+04  6.885e+03   7.281 4.44e-09 ***
df$R.D.Spend        8.060e-01  4.641e-02  17.369  < 2e-16 ***
df$Administration  -2.700e-02  5.223e-02  -0.517    0.608
df$Marketing.Spend  2.698e-02  1.714e-02   1.574    0.123
df$StateFlorida     1.988e+02  3.371e+03   0.059    0.953
df$StateNew York   -4.189e+01  3.256e+03  -0.013    0.990
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 9439 on 44 degrees of freedom
Multiple R-squared:  0.9508,	Adjusted R-squared:  0.9452
F-statistic: 169.9 on 5 and 44 DF,  p-value: < 2.2e-16